* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html,body {
    margin: 0%;
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    background-color: rgb(20, 20, 20);
    padding-bottom: 50px;
}

/* Navbar */
#navbar {
    display: flex;
    justify-content: right;
    background-color: black;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
}
#navbar li {
    display: inline-block;
    margin: 0%;
}

#navbar ul {
    text-align: right;
    margin: 0%;
    padding: 0%;
}

#navbar button {
    border: none;
    height: 50px;
    width: 125px;
    transition-duration: 0.25s;
    background-color: black;
}

#navbar button:hover {
    background-color: grey;
}

#logo {
    height: 48px;
    width: 48px;
    position: absolute;
    left: 1px;
    top: 1px;
}

/* Page Highlight */
#highlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 40, 40);
    height: 40%;
    width: 100%;
}

/* Content */
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content *{
    font-size: x-large;
}

#content > div {
    margin-left: 5%;
    margin-right: 5%;
}

#content button {
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:rgb(40, 40, 40);
    border: none;
    border-radius: 10px;
    transition-duration: 0.25s;
}

#content button:hover {
    background-color: rgb(80, 80, 80);
}

#content a {
    display: inline-block;
    position: relative;
}

#content a::after {
    content: '';
    position: absolute;
    width: 90%;
    transform: scaleX(0);
    height: 2px;
    bottom: 10px;
    left: 5%;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#content a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Section Titles */
.sectiontitle {
    margin: 50px;
}

/* Games Display */

#displaygames {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.game {
    border-radius: 20px;
    background-color: rgb(40, 40, 40);
    height: 440px;
    width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 20px;
    margin-top: 0px;
}

.game img {
    width: 100%;
    height: 290px;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(220, 220, 220);
    margin-bottom: 20px;
}

.game > strong {
    margin: 5px;
    font-size: large !important;
}

.ratiobar {
    width: 80%;
    height: 10px;
    display: flex;
}

.likes, .dislikes {
    height: 100%;
}

.likes {
    background-color: rgb(75, 247, 75);
}

.dislikes {
    background-color: rgb(138, 1, 1);
}

/* About */

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    gap: 40px;
}

.about * {
    margin: 0px;
    text-align: center;
}

/* Reviews */

#reviews, #reviews > div {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#reviews {
    width: 100%;
    padding: 10px;
    margin: 20px;
}
#reviews > div {
    width: 90%;
}

#review1, #review2 {
    margin-right: 5%;
    margin-left: 5%;
}

#review1 {
    align-items: start;
}
#review2 {
    align-items: end;
}

#review2 > p{
    text-align: right;
}

/* Contact */
#contact {
    display: flex;
    justify-content: center;
    width: 80%;
}

@media screen and (max-width: 700px) {
    #contact {
        flex-wrap: wrap;
        gap: 20px;
    }
}

#contact div {
    margin-right: 5%;
    margin-left: 5%;
    width: 50%;
    min-width: 300px;
    border-radius: 20px;
    height: 200px;
    background-color: rgb(82, 82, 82);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

#contact > div * {
    margin: 5px;
}

/*Footer */

footer, footer > div {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
}

footer {
    position: relative;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    gap: 50px;
}

footer > div {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer strong {
    font-size: larger !important;
}

#quicklinks {
    align-items: end;
}

#socialmedia{
    align-items: start;
}

#socialmedia > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

#socialmedia-icons img{
    height: 40px;
    width: 40px;
}

#copyright {
    position: absolute;
    bottom: 0px;
    right: 20px;
}