html,body {
    margin: 0%;
    height: 100%;
    width: 100%;
}

#navbar {
    display: flex;
    justify-content: right;
    background-color: black;
    height: 50px;
    width: 100%;
}
#navbar li {
    display: inline-block;
    margin: 0%;
}

#navbar ul {
    text-align: right;
    margin: 0%;
    padding: 0%;
}

#navbar button {
    border: none;
    height: 50px;
    width: 125px;
    transition-duration: 0.25s;
    background-color: white;
}

#navbar button:hover {
    background-color: grey;
}

#logo {}